{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block title %} My Aquariums {% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="h3 mb-3">My Aquariums</h1>
    <p>Manage your aquariums and track their health.</p>
    {% if aquariums %}
    <div class="row g-3">
        {% for aquarium in aquariums %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">{{ aquarium.name }}</h5>
                <p class="card-text">Type: {{ aquarium.type }}</p>
                <p class="card-text">Size: {{ aquarium.size }} </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a class="btn btn-primary" href="{% url 'aquariumview' aquarium.id %}">View Details</a>
                <form method="post" action="{% url 'deleteaquarium' aquarium.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Aquarium</button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
    </div>
    
    {% else %}
    
        <div class="col-md-12">
            <p>No aquariums found. Please add an aquarium to get started.</p>
            
        </div>
    {% endif %}
        <section class="mt-3">
            <button onclick="toggleForm()" class="btn btn-primary">ADD</button>
            <div id="addAquarium" class="mt-2" style="display: none;">
            <form method="POST" action="{% url 'myaquariums' %}">
                <h2>Aquarium Details</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Register Aquarium</button>
            </form>
            </div>
        </section>

</div>
{% endblock %}
{% block script %}
<script>
    function toggleForm() {
        const formDiv = document.getElementById('addAquarium');
        formDiv.style.display = formDiv.style.display === "none" ? "block" : "none";
    }
</script>
{% endblock %}