{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ selectedaquarium.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">{{selectedaquarium.name}}</h1>
    <p>Manage your aquarium information.</p>
    {% if selectedaquarium %}
    <div class="row">
        
        <div class="card col-md-4 mb-4">
                
            <div class="card-body">
                <h5 class="card-title">{{ selectedaquarium.name }}</h5>
                <p class="card-text">Type: {{ selectedaquarium.type }}</p>
                <p class="card-text">Size: {{ selectedaquarium.size }}</p>
                <p class="card-text">Start Date: {{ selectedaquarium.start_date }}</p>
            </div>
            <div class="card-footer" style="display: flex; justify-content: space-between;">
                    
                    <button type="submit" class="btn btn-danger">Delete</button>   
        </div>       
    </div>
    
    {% else %}
    
        <div class="col-md-12">
            <p>No aquariums found. Please search a valid aquarium.</p>
            
        </div>
    {% endif %}
        <section>
            <button onclick="toggleForm()" class="btn btn-primary">ADD</button>
            <div id="addAquarium" style="display: none; margin-top: 1rem;">
            <form method="POST" action="{% url 'myaquariums' %}">
                <h2>Aquarium Details</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Register Aquarium</button>
            </form>
            </div>
        </section>

</div>
{% endblock %}
{% block script %}

{% endblock %}