{% extends "main/base.html" %}
{% block title %}Calculators{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Calculators</h1>
    <p>Use the calculators below to perform various calculations related to reef health.</p>
    <div class="row">
        <div class="col-md-4">
            <h2>Water Volume Calculator</h2>
            <p>Description of Calculator 1.</p>
            <a href="{% url 'watervolumecalc' %}" class="btn btn-primary">Go to Calculator 1</a>
        </div>
        <div class="col-md-4">
            <h2>Calcium Dosing Calculator</h2>
            <p>Description of Calculator 2.</p>
            <a href="{% url 'calculators' %}" class="btn btn-primary">Go to Calculator 2</a>
        </div>
        <div class="col-md-4">
            <h2>Magnesium Dosing Calculator</h2>
            <p>Description of Calculator 3.</p>
            <a href="{% url 'calculators' %}" class="btn btn-primary">Go to Calculator 3</a>
        </div>

{% endblock %}