{% extends "main/base.html" %} {% block title %} Home Page {% endblock %} {%
{% load crispy_forms_tags %} {% block content %}
<div
  class="container-fluid min-vh-100 d-flex flex-column"
  style="overflow: visible"
>
  {% if user.is_authenticated %}

  <!-- Welcome Section -->
  <section style="background-color: rgb(230, 239, 246); width: 100%">
    <h1 class="large">Welcome, {{ user.username }}!</h1>
  </section>

  <!-- DASHBOARD -->
  <div class="d-flex flex-column flex-grow-1">
    <h2 class="p-2" style="font-size:100px">DASHBOARD</h2>
    <p class="p-2" style="font-size:20px">Manage your aquariums and track their health.</p>

    <!-- Split Columns Section -->
    <div class="d-flex flex-row flex-wrap w-100 gap-4" style="padding-bottom: 10px">
      <!-- Left Column -->
      <div class="flex-fill" style="min-width: 300px">
        <div class="p-3 bg-white rounded shadow-sm">
            <p style="font-size:30px" >You currently have {{ aquariums|length }} aquarium(s).</p>
          <button onclick="toggleForm()" class="btn btn-primary mb-3">
            ADD
          </button>

          <div id="addAquarium" style="display: none">
            <form method="POST" action="{% url 'home' %}">
              {% csrf_token %}
              <h4>Aquarium Details</h4>
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary mt-2">
                Register Aquarium
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Right Column -->
       
      <div class="flex-fill" style="min-width: 300px">
        <div class="p-3 bg-secondary text-white rounded shadow-sm">
          <p>Recent Activity -- Coming Soon</p>
        </div>
      </div>
      
    </div>
 <!-- Three Sections) -->
  <div class="w-100">
    <!-- Row 1: My Aquariums -->
    <a href="{% url 'myaquariums' %}" class="btn bg-light p-3 mb-4 shadow-sm" style="width:100%; border-radius:100px">
        <p class="fw-bold" style="font-size: 50px;">My Aquariums</p>
    </a>

    <!-- Row 2: Quick Tools -->
    
    <div class="bg-light p-3 mb-4 shadow-sm d-flex flex-column" style="width:100%">
        <p class="fw-bold" style="font-size: 50px"> Quick Tools</p>
        <hr>
        <div class="d-flex flex-row " style="justify-content: space-around;">
            <a href="{% url 'watervolumecalc' %}" class="btn bg-light p-3 mb-4 shadow-sm" style="width:auto; border-radius:100px">
                <p class="fw-bold" style="font-size: 20px;">Water Volume Calculator</p>
            </a>
            <a href="{% url 'calculators' %}" class="btn bg-light p-3 mb-4 shadow-sm" style="width:auto; border-radius:100px">
                <p class="fw-bold" style="font-size: 20px;">Dosing Calculator</p>
            </a>
            <a href="{% url 'calculators' %}" class="btn bg-light p-3 mb-4 shadow-sm" style="width:auto; border-radius:100px">
                <p class="fw-bold" style="font-size: 20px;">Analytics</p>
            </a>
            
        </div>
    </div>
    

    <!-- Row 3: Recent Activity -->
    <div class="bg-light p-3 mb-4 shadow-sm" style="width:100%">
        <p class="fw-bold" style="font-size: 50px"> Recent Activity</p>
    </div>
  </div>
</div>
  

    


  {% else %}
  <h2>Please log in to manage your aquariums</h2>
  {% endif %}
</div>

{% endblock %} {% block script%}
<script>
  function toggleForm() {
    const formDiv = document.getElementById("addAquarium");
    formDiv.style.display = formDiv.style.display === "none" ? "block" : "none";
  }
</script>
{% endblock%}
