{% extends "main/base.html" %}
{% block title %} Profile Page {% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Profile Page</h1>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    {% endif %}
    <h2>Your Details</h2>
    <ul class="list-group ">
        <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
        <li class="list-group-item"><strong>First Name:</strong> {{ user.first_name }}</li>
        <li class="list-group-item"><strong>Last Name:</strong> {{ user.last_name }}</li>
    </ul>
    <h2 class="mt-4">Actions</h2>
    <div>
        <a href="{% url 'myaquariums' %}" class="btn btn-primary">Your Aquariums</a>
    </div>

{% endblock %}